html {}

*{font-family: 'Droid Serif', serif; }

body {  height: 100%;  overflow-x: hidden; word-wrap: break-word; }

.wrap {  min-height: 100%;  height: auto;  margin: 0 auto -60px;  padding: 0 0 60px;  }

.wrap > .container {  padding: 70px 15px 20px;  }

.footer {  height: 60px;  background-color: #f5f5f5;  border-top: 1px solid #ddd;  padding-top: 20px;  }

.jumbotron {  text-align: center;  background-color: transparent;  }

.jumbotron .btn {  font-size: 21px;  padding: 14px 24px;  }

.not-set {  color: #c55;  font-style: italic;  }

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {  position: relative;  top: 1px;  display: inline-block;  font-family: 'Glyphicons Halflings';  font-style: normal;  font-weight: normal;  line-height: 1;  padding-left: 5px;  }

a.asc:after {  content: "\e151";  }

a.desc:after {  content: "\e152";  }

.sort-numerical a.asc:after {  content: "\e153";  }

.sort-numerical a.desc:after {  content: "\e154";  }

.sort-ordinal a.asc:after {  content: "\e155";  }

.sort-ordinal a.desc:after {  content: "\e156";  }

.grid-view td {  white-space: nowrap;  }

.grid-view .filters input,
.grid-view .filters select {  min-width: 50px;  }

.hint-block {  display: block;  margin-top: 5px;  color: #999;  }

.error-summary {  color: #a94442;  background: #fdf7f7;  border-left: 3px solid #eed3d7;  padding: 10px 20px;  margin: 0 0 15px 0;  }


.content{
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;

}



/* align the logout "link" (button in form) of the navbar */

/*Other stiels*/
.padding-30{margin-top: 30px; padding: 15px}



.img1 {  float: none;  margin: 0 auto;  width: 50px;
    -webkit-border-radius: 50% !important;  -moz-border-radius: 50% !important;  border-radius: 50% !important;  }

.nopadding{padding: 0;}

.index-h2{padding-left: 25px;color: #21761d}

.bg-img-2{background-image: url("../img/img-bg-2 (2).jpg");
    background-size: 50% 50%;
}

.video-font{color: #f99500; font-size: 20px; font-weight: 800; text-decoration: none;

}
.video-font:hover {color: #f99500; }

.my-video-video{padding: 5px; margin:10px 0px 10px 0px ;width: 20%;float: left;overflow: hidden;}

.border-radius{border: solid 1px #CCCCCC; border-radius: 40px  0px 40px 0px; padding: 5px;}

.border{border: solid 1px #CCCCCC; padding: 0px; margin: 0px;background-color: white}

.h-nav-music{
    font-size: 26px;
    color:#6d6d6d ;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -7px;

}

.text-transfer{
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
}
/*Colors*/

.color-1{background-color: #f1f1f1}
.color-2{background-color: #6695C1}
.color-3{background-color: #46ABA5}
.background-gray{background-color: #F8F8F8}

/*Colors*/


/*Other stiels*/

/*Upload*/
.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
/*Upload*/


/*navbar*/

.primary-navigation {
    display:inline-block;
    position:fixed;
    transition:all 0.4s ease-out;
    transform:translateX(0px);
    z-index:3000;
}

#nav1{  top:0px;  left:0px;
    }

#nav1.opened {

    transform:translateX(0px) rotateX(180deg) rotateY(180deg) ;
    transition:all 0.4s ease-out;


}
#nav2{  top:20px;  left:50px;
}

#nav2.opened {

    transform: translateX(0px) rotateX(0deg) rotateY(180deg);
    transition: all 0.4s ease-out;

}



.primary-navigation a {
    color:#fff;
    padding:10px 10px;
    display:block;
}

.secondary-navigation-a {
    left:0px;
    position:fixed;
    width:200px;
    height: 100%;
    background: white;
    color:#fff;
    transition:all 0.4s ease-out;
    transform:translateX(-200px);
    z-index:10;


}


.secondary-navigation-a.opened {

    transform: translateY(0px);
    transition: all 0.4s ease-out;
}


#main {

    width:100%;
    height:100%px;
    transition:all 0.4s ease-out;
}
.animate-right {
    transition:all 0.4s ease-out;
    transform: rotateY(0deg) rotateX(0deg)
    translate(0px,0px);
}

.slide-left {
    /*transform:translateX(200px);*/
}



#navbar {
    background: none;
    height: 53px;
}

.row1 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
    color: #000;
    border: 1.1px solid black;
}

.nav{padding: 10px; margin-top: -30px;}

.navbar-button-1 {
    background-color: #ffad1e;
    border: 1px solid #ffad1e;
    border-radius: 0 2px 2px 0;
    color: #1a1a1a;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}
.navbar-button-2 {
    background-color: #ffad1e;
    border: 1px solid #ffad1e;
    border-radius: 0 2px 2px 0;
    color: #1a1a1a;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
    width: auto;
    /*-webkit-transform: rotate(90deg); transform: rotate(90deg);*/
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}


/*navbar*/



/*sidebar index*/

/* Profile container */
.list-group hr{
    margin: 10px;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 44px;
    z-index: 9;
    max-width: 200px;

}

@media (max-width:768px)
{

    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }
}

.profile {  margin: 20px 0;  }

/* Profile sidebar */
.profile-sidebar {  padding: 10px 0 10px 0; }

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100%;
    max-width: 85px;
    max-height: 85px;
   
}
.profile-usertitle {  text-align: center;  margin-top: 0px;  }

.profile-usertitle-name { font-size: 28px;  font-weight: 600;  margin-bottom: 7px;  }

.profile-usertitle-job {  text-transform: uppercase;  color: white;  font-size: 12px;  font-weight: 600;  margin-bottom: 15px; border-bottom: 1px solid black; margin-left: 20px; margin-right: 20px  }

.profile-userbuttons {  text-align: center;  margin-top: 10px;  }

.profile-userbuttons .btn {  text-transform: uppercase;  font-size: 11px;  font-weight: 600;  padding: 6px 15px;  margin-right: 5px;  }

.profile-userbuttons .btn:last-child {  margin-right: 0px;  }
/* Profile Content */

/*sidebar menu*/
.sidebar-menu {  padding-top: 30px; height: 100%;
     }

.sidebar-menu ul li {  border-bottom: 1px solid #f0f4f7;  }

.sidebar-menu ul li:last-child {  border-bottom: none;  }

.sidebar-menu ul li a {  color: #46ABA5; background-color: #96DCD4;  font-size: 14px;  font-weight: 400;  }

.sidebar-menu ul li a i {  margin-right: 8px;  font-size: 14px;  }

.sidebar-menu ul li a:hover {  background-color: #E4F2F3;  color: #46ABA5; border-left: 4px solid #6695C1;  margin-left: 4px;  }

.sidebar-menu ul li.active {  border-bottom: none;  }

.sidebar-menu ul li.active a {  background-color: #E4F2F3;  color: #46ABA5; border-left: 4px solid #6695C1;  margin-left: 0px;  }


/*sidebar menu*/


/*sidebar index*/


/*PROFILE!*/
/* Profile container */
.profile {  margin: 20px 0;  }

/* Profile sidebar */


.profile-usermenu ul li {  border-bottom: 1px solid #f0f4f7;  }

.profile-usermenu ul li:last-child {  border-bottom: none;  }

/*.profile-usermenu ul li a {  color: #46ABA5; background-color: #96DCD4;  font-size: 14px;  font-weight: 400;  }*/

.profile-usermenu ul li a i {  margin-right: 8px;  font-size: 14px;  }

.profile-usermenu ul li a:hover {  background-color: #E4F2F3;  color: #46ABA5; border-left: 4px solid #6695C1;  margin-left: 4px;  }

.profile-usermenu ul li.active {  border-bottom: none;  }

/*.profile-usermenu ul li.active a {   background-color: #E4F2F3;  color: #46ABA5; border-left: 4px solid #6695C1;  margin-left: 0px; }*/


/* Profile Content */

/*PROFILE*/

/*coments*/


.post-comments {
    padding-bottom: 9px;
    margin: 5px 0 5px;
}

.comments-nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.post-comments .comment-meta {
    border-top: 1px solid #eee;
    margin-bottom: 5px;
}

.post-comments .media {
    background-color: white;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

}

.post-comments .media-heading {
    font-size: 12px;
    color: grey;
}

.post-comments .comment-meta a {
    font-size: 12px;
    color: grey;
    font-weight: bolder;
    margin-right: 5px;
}



/*.media-body .author {  display: inline-block;  font-size: 1rem;  color: #000;  font-weight: 700;*/
/*}*/
/*.media-body .metadata {  display: inline-block;  margin-left: .5rem;  color: #777;  font-size: .8125rem;*/
/*}*/
/*.footer-comment {  color: #777;*/
/*}*/
/*.vote.plus:hover {  color: green;*/
/*}*/
/*.vote.minus:hover {  color: red;*/
/*}*/
/*.vote {  cursor: pointer;*/
/*}*/
/*.comment-reply a {  color: #777;*/
/*}*/
/*.comment-reply a:hover, .comment-reply a:focus {  color: #000;  text-decoration: none;*/
/*}*/
/*.devide {  padding: 0px 4px;  font-size: 0.9em;*/
/*}*/
/*.media-text {  margin-bottom: 0.25rem;*/
/*}*/
/*.title-comments {  font-size: 1.4rem;  font-weight: bold;  line-height: 1.5rem;  color: rgba(0,0,0,.87);  margin-bottom: 1rem;  padding-bottom: .25rem;  border-bottom: 1px solid rgba(34,36,38,.15);*/
/*}*/
/*.media{padding: 10px}*/

/*.my-comments{border: solid 1px #CCCCCC; border-radius: 45px  45px  45px 45px; padding: 5px;margin-bottom:10px;width: 99%;float: left;overflow: hidden;background-color:*/
        /*#e7f7fc;}*/

/*coments*/

/*VIEW VIDEO*/

.content-title{padding:5px;background-color:#fff;}
.content-title h3 a{color:#34495E;text-decoration:none; transition: 0.5s;}
.content-title h3 a:hover{color:#F39C12; }
.content-footer{background-color:#16A085;padding:10px;position: relative;}
.content-footer span a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
}
.content-footer span a:hover{
    color:#F39C12;
}
aside{
    margin-top: 30px;
    -webkit-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
    -moz-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
    box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);}
aside .content-footer>img {
    width: 40px;
    height: 40px;
    margin-right: 10px;

}

.user-ditels {
    width: 300px;
    top: -100px;
    height: 100px;
    padding-bottom: 99px;
    position: absolute;
    border: solid 2px #fff;
    background-color: #34495E;
    right: 25px;
    display: none;
    z-index: 1;
}

@media (max-width:768px){
    .user-ditels {
        right: 5px;
    }

}
.user-small-img{cursor: pointer; float:left}

.content-footer:hover .user-ditels  {
    display: block;
}

.content-footer .user-ditels .user-img{width: 100px;height:100px;float: left;}

.user-full-ditels h3 {
    color: #fff;
    display: block;
    margin: 0px;
    padding-top: 10px;
    padding-right: 28px;
    text-align: right;
}
.user-full-ditels p{
    color: #fff;
    display: block;
    margin: 0px;
    padding-right: 20px;
    padding-top: 5px;
    text-align: right;}

.social-icon {
    background-color: #fff;
    margin-top: 10px;
    padding-right: 20px;
    text-align: right;
}
.social-icon>a{font-size:20px;text-decoration:none;padding: 5px;}
.social-icon a:nth-of-type(1){color:#4E71A8;}
.social-icon a:nth-of-type(2){color:#3FA1DA;}
.social-icon a:nth-of-type(3){color:#E3411F;}
.social-icon a:nth-of-type(4){color:#CA3737;}
.social-icon a:nth-of-type(5){color:#3A3A3A;}

/*VIEW VIDEO*/
/*<table>*/
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}
/*<table>*/

/*<login>*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;

}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}
/*<login>*/

.login-form input{
    width: 100px;
}

/*Slider*/
/*
Bootstrap Image Carousel Slider with Animate.css
Code snippet by Hashif (http://hashif.com) for Bootsnipp.com
Image credits: unsplash.com
*/
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
    font-family: 'Quicksand', sans-serif;
    font-weight:700;
}





/********************************/
/*          Main CSS     */
/********************************/


#first-slider .main-container {
    padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
    bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
    background-image: none;
}
#first-slider .carousel .item {
    min-height: 425px;
    height: 100%;
    width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
    animation-delay: 1s;
}
#first-slider h4 {
    animation-delay: 2s;
}
#first-slider h2 {
    animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
    text-shadow: none;
}


#first-slider h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

#first-slider .p {
    padding-top: 125px;
    text-align: center;
}

#first-slider .p a {
    text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
    border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border:none;
}


.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url(http://s20.postimg.org/h50tgcuz1/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
    background-image: url(http://s20.postimg.org/uxf8bzlql/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
    background-image: url(http://s20.postimg.org/el56m97f1/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
    background-image: url(http://s20.postimg.org/66pjy66dp/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){

}
@media screen and (max-width: 640px){

}
/*Slider*/

.list-group-item{
    border: none;
}

#modal{
    z-index: 3110;
}



