html {}
img {
    max-width: 100%;
}
button{
    background: none;
    border: 0px solid;
}
input{
    background: none;
    border: 0px;
    font-size: 11.4px;
    color: white;
    font-weight: bolder;
    margin-right: 5px;
}
@media (max-width:860px) {
    .input-group {
        max-width: 390px;
    }
}
*{font-family: 'Droid Serif', serif; color: white}

@media (max-width:460px){
    .container{
        padding: 0px;
    }
}

body {  height: 100%;  overflow-x: hidden; word-wrap: break-word;}

a{ text-decoration: none;color: white}

a:hover{
    color: white;
    text-decoration: underline;
}

.wrap {  min-height: 100%;  height: auto;  margin: 0 auto -60px;  padding: 0 0 60px;  }

/*.wrap > .container {  padding: 70px 15px 20px;  }
*/

.btn:hover { color: white  }



.content{
    background: rgba(255,255,255,0.15);
    border-radius: 5px;
}
.content-2{
    background: rgba(255,255,255,0.8);
    /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
    border-radius: 5px;
}

.content-3{
    background: rgba(57,48,91,0.75);
    border-radius: 5px;
    color #39305b
}

/* align the logout "link" (button in form) of the navbar */

/*Other stiels*/
.padding-30{margin-top: 30px; padding: 15px}

.main-bg{
    background: url("/img/bg.jpg") no-repeat center;
    background-size: cover;
}


.img1 {  float: none;  margin: 0 auto;  width: 50px;
    -webkit-border-radius: 50% !important;  -moz-border-radius: 50% !important;  border-radius: 50% !important;  }

.nopadding{padding: 0;}

.my-video-video{padding: 5px; margin:10px 0px 10px 0px ;width: 20%;float: left;overflow: hidden;
}

.img-bg{
    background-size: cover;
    width: 100%;
    height: 30em;
}

/*Upload*/
.modal-header {
    padding-bottom: 5px;
    border: none;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
/*Upload*/

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
    border-radius: none;
    color: #39305b;;
    background: #39305b;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}
.logo-img{
    margin: 22px;
    width: 100%;
    max-width: 180px;
    padding: 0px 10px;
    background: white;
    border-radius: 25px 0px 25px 0px;
}
.my-proffile-btn{
    font-size: 30px;
    color: white;
    vertical-align: middle;
    padding: 10px 0;"
}

/*sidebar index*/

/* Profile container */
.proffile-edit-btn{
    position: absolute;
    top: 30px;
    right: 0px;
    transform: rotate(90deg);

}
.proffile-edit-btn button{
    transform: rotate(-90deg);
    font-size: 18px;
    padding: 5px 12px;
}
.proffile-edit-btn .btn-success{
    padding: 5px 10px;
}
.list-group hr{
    margin: 10px;
}
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin: -20px 0px 10px 0px;
    overflow: hidden;
}
.content-2 li a{
    color: #39305b;
    border: 2px solid #39305b;
    border-radius: 0px;
    font-size: 18px;
    margin-right: -5px;
}
.content-2 li a:hover, .content-2 .active a{
    background-color: #39305b;
    color: white;
    border: 2px solid #39305b;
}
.fb-image-profile
{
    position: relative;
    margin: auto;
    z-index: 9;
    max-width: 200px;
    max-height: 200px;
    border: 3px solid #39305b;
    border-radius: 5px;
}

@media (max-width:768px)
{

    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }
}

.profile {  margin: 20px 0; background-color: white ; }

/* Profile sidebar */
.profile-sidebar {  padding: 10px 0 10px 0; }

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100%;
    max-width: 85px;
    max-height: 85px;
   
}
.profile-usertitle {  text-align: center;  margin-top: 0px;  }

.profile-usertitle-name { font-size: 28px;  font-weight: 600;  margin-bottom: 7px;  }

.profile-usertitle-job {  text-transform: uppercase;  color: white;  font-size: 12px;  font-weight: 600;  margin-bottom: 15px; border-bottom: 1px solid black; margin-left: 20px; margin-right: 20px  }

.profile-userbuttons {  text-align: center;  margin-top: 10px;  }

.profile-userbuttons .btn {  text-transform: uppercase;  font-size: 11px;  font-weight: 600;  padding: 6px 15px;  margin-right: 5px;  }

.profile-userbuttons .btn:last-child {  margin-right: 0px;  }
/* Profile Content */


/*sidebar index*/


/*PROFILE!*/
/* Profile container */
.my-best-video-h{
    background: rgba(57, 48, 91, 0.8);
    border-radius: 25px 25px 0px 0px;
    color: white;
    margin: 0px;
    padding: 5px;


}
.profile {  margin: 20px 0;  }

.nav-center li {
    display: inline-block;
    float: none;
}

.tab-content{
    padding: 5px 15px;
    min-height: 500px;
}
/* Profile sidebar */


/*PROFILE*/
.list-group-item{
    background:none;
}

/*coments*/
.pre1{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
     background:none ;
     border: none;
    color: white;

}
.media{
    margin: 5px 10px;
    padding: 5px;
}

.post-comments {
    padding-bottom: 9px;
    margin: 5px 0 5px;
}

.comments-nav {
    margin-bottom: 5px;
}

.post-comments .comment-meta {
    margin-bottom: 5px;
}

.post-comments .media {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.post-comments .media-heading {
    font-size: 12px;
}

.post-comments .comment-meta a {
    font-size: 12px;
    font-weight: bolder;
    margin-right: 5px;
}

/*coments*/

/*VIEW VIDEO*/

.btn-my-default{
    background: #1f1647;
    padding: 5px 10px;
    margin-bottom: 8px;
}
.btn-post{
    background: #1f1647;
    padding: 5px 10px;
    float: right;
    margin: 0px 20px;
}
.video-username{
    font-size: 24px;
    padding: 5px 20px;
    text-decoration: none;
}

/*=========================================
=            Small video style            =
=========================================*/

.video-item {
    padding-bottom: 30px;
}

.video-item>div {
}

.video-item__thumb {
    padding: 25% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}
.content-title {
    background: none;
    font-family: sans-serif;
    background-color: rgba(255,255,255, .7);
}

.content-title a {
    text-decoration: none;
}

.user-small-img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
}

.content-footer__avatar {
    float: left;
}

.content-footer{
    margin: 0px 30px;
    position: relative;
    height: 60px;
}
.content-footer p{
    margin: 6px 5px 6px 45px;

}
.content-footer a{
    margin: 5px;
}


.content-title{padding:5px;background-color:#fff;}
.content-title h3 a{color:#34495E;text-decoration:none; transition: 0.5s;}
.content-footer span a {
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
}
.content-footer span a:hover{
    color:#F39C12;
}
aside{
    margin-top: 30px;
    -webkit-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
    -moz-box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);
    box-shadow: 1px 4px 16px 3px rgba(199,197,199,1);}
aside .content-footer>img {
    width: 40px;
    height: 40px;
    margin-right: 10px;

}

.user-ditels {
    width: 300px;
    top: -100px;
    height: 100px;
    padding-bottom: 99px;
    position: absolute;
    border: solid 2px #fff;
    background-color: #34495E;
    right: 25px;
    display: none;
    z-index: 1;
}

@media (max-width:768px){
    .user-ditels {
        right: 5px;
    }

}


.content-footer:hover .user-ditels  {
    display: block;
}

.content-footer .user-ditels .user-img{width: 100px;height:100px;float: left;}

.user-full-ditels h3 {
    color: #fff;
    display: block;
    margin: 0px;
    padding-top: 10px;
    padding-right: 28px;
    text-align: right;
}
.user-full-ditels p{
    color: #fff;
    display: block;
    margin: 0px;
    padding-right: 20px;
    padding-top: 5px;
    text-align: right;}

.social-icon {
    background-color: #fff;
    margin-top: 10px;
    padding-right: 20px;
    text-align: right;
}
.social-icon>a{font-size:20px;text-decoration:none;padding: 5px;}
.social-icon a:nth-of-type(1){color:#4E71A8;}
.social-icon a:nth-of-type(2){color:#3FA1DA;}
.social-icon a:nth-of-type(3){color:#E3411F;}
.social-icon a:nth-of-type(4){color:#CA3737;}
.social-icon a:nth-of-type(5){color:#3A3A3A;}

/*VIEW VIDEO*/
/*<table>*/
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}
/*<table>*/

/*<login>*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.modal-content{
    position: relative;
  background-color: rgba(0, 0, 0, .7);*
   -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 5px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(255, 255, 255, .3);
    box-shadow: 0 3px 9px rgba(255, 255, 255, .3);
}

.close{
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    opacity: .8;
}

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;

}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}
/*<login>*/

.login-form input{
    width: 100px;
}

/*Slider*/
/*
Bootstrap Image Carousel Slider with Animate.css
Code snippet by Hashif (http://hashif.com) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*          Main CSS     */
/********************************/


#first-slider .main-container {
    padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
    bottom: 0;
}

#first-slider .carousel .item {
    min-height: 425px;
    height: 100%;
    width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
    animation-delay: 1s;
}
#first-slider h4 {
    animation-delay: 2s;
}
#first-slider h2 {
    animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
    text-shadow: none;
}


#first-slider h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

#first-slider .p {
    padding-top: 125px;
    text-align: center;
}

#first-slider .p a {
    text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
    border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border:none;
}





#second-slider, #first-slider .main-container {
    padding: 0;
}


#second-slider .carousel-indicators {
    bottom: 0;
}

#second-slider .carousel .item {
    min-height: 425px;
    height: 100%;
    width:100%;
}

#second-slider .carousel-control {
    width: 6%;
    text-shadow: none;
}

#second-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
    border:none;
}
#second-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border:none;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
.slide1 {
    background-image: url(http://s20.postimg.org/h50tgcuz1/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slide2 {
    background-image: url(http://s20.postimg.org/uxf8bzlql/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slide3 {
    background-image: url(http://s20.postimg.org/el56m97f1/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slide4 {
    background-image: url(http://s20.postimg.org/66pjy66dp/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){

}
@media screen and (max-width: 640px){

}
/*Slider*/

.list-group-item{
    border: none;
}

#modal{
    z-index: 3110;
}



/*************************/
/*****sidebar-start*******/
/*************************/


@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/* -- import Roboto Font ---------------------------- */
/* -- import Material Icons Font -------------------- */
@font-face {
    font-family: 'Material Design Iconic Font';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?v=1.0');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?#iefix&v=1.0') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.woff?v=1.0') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.ttf?v=1.0') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.svg?v=1.0#Material-Design-Iconic-Font') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="md-"],
[class*=" md-"] {
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    font-size: inherit;
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.md {
    line-height: inherit;
    vertical-align: bottom;
}
.md-inbox:before {
    content: "\f10c";
}
.md-star:before {
    content: "\f2e5";
}
.md-send:before {
    content: "\f119";
}
.md-drafts:before {
    content: "\f107";
}
.md-arrow-back:before {
    content: "\f297";
}
.md-arrow-forward:before {
    content: "\f298";
}

/* -- You can use this sidebar in Bootstrap (v3) projects. HTML-markup like Navbar bootstrap component will make your work easier. -- */

.top-bar {
    height: 45px;
    background: rgba(0, 0, 0, 0.6);
}


/* -- Bootstrap-like style ------------------------------- */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/* -- Constructor style ------------------------------- */
.constructor {
    position: relative;
    margin: 0;
    padding: 0 50px;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar,
.wrapper {
    display: table-cell;
    vertical-align: top;
}

/* -- Sidebar style ------------------------------- */
.sidebar {
    position: relative;
    display: block;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar:before,
.sidebar:after {
    content: " ";
    display: table;
}
.sidebar:after {
    clear: both;
}
.sidebar::-webkit-scrollbar-track {
    border-radius: 2px;
}
.sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #BFBFBF;
}
.sidebar .sidebar-header {
    position: relative;
    height: 157.5px;
    margin-bottom: 8px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-header.header-cover {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sidebar .sidebar-header:hover .sidebar-toggle {
    opacity: 1;
}

#sidebar-r{
    font-size: 30px;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 7px;
}

.sidebar .sidebar-toggle {
    position: relative;
    float: right;
    margin: 2px;
    padding: 0;
    background-image: none;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 20px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-toggle:before,
.sidebar .sidebar-toggle:after {
    content: " ";
    display: table;
}
.sidebar .sidebar-toggle:after {
    clear: both;
}
.sidebar .icon-material-sidebar-arrow:before {
    content: "\e610";
}
.sidebar .sidebar-image img {
    width: 75px;
    height: 75px;
    margin: 0px 8px 0px 8px;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-brand {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidebar .sidebar-badge {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0 3px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.sidebar .sidebar-badge.badge-circle {
    border-radius: 50%;
}
.sidebar .sidebar-divider,
.sidebar .sidebar-nav .divider {
    position: relative;
    display: block;
    height: 1px;
    margin: 8px 0;
    padding: 0;
    overflow: hidden;
}

.sidebar .sidebar-nav {
    margin: 0;
    padding: 0;
}
.sidebar .sidebar-nav li {
    position: relative;
    list-style-type: none;
}
.sidebar .sidebar-nav li a {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    /*padding-right: 56px;*/
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-nav li a:hover,
.sidebar .sidebar-nav li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    height: auto;
}
.sidebar .sidebar-nav li a .caret {
    position: absolute;
    right: 24px;
    top: 24px;
}
.sidebar .sidebar-nav li a .sidebar-badge {
    position: absolute;
    right: 16px;
    top: 12px;
}
.sidebar .sidebar-nav li a:hover {
    background: transparent;
}
.sidebar .sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidebar-default {
    background-color: #39305b;;
}
.sidebar-default .sidebar-header {
    background-color: #eceff1;
}
.sidebar-default .sidebar-toggle {
    color: #252e35;
    background-color: transparent;
}
.sidebar-default .sidebar-brand {
    color: #757575;
    background-color: transparent;
}
.sidebar-default .sidebar-badge {
    color: #ffffff;
    background-color: #bdbdbd;
}
.sidebar-default .sidebar-divider,
.sidebar-default .sidebar-nav .divider {
    background-color: #bdbdbd;
}
.sidebar-default .sidebar-text {
    color: white;
}
.sidebar-default .sidebar-nav li > a {
    color: white;
    background-color: transparent;
}
.sidebar-default .sidebar-nav li > a i {
    color: #757575;
}
.sidebar-default .sidebar-nav li:hover > a,
.sidebar-default .sidebar-nav li > a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.35);
;
}
.sidebar-default .sidebar-nav li:hover > a i,
.sidebar-default .sidebar-nav li > a:hover i {
    color: white;
}
.sidebar-default .sidebar-nav li:focus > a,
.sidebar-default .sidebar-nav li > a:focus {
    color: #dbdbdb;
    background-color: transparent;
}
.sidebar-default .sidebar-nav li:focus > a i,
.sidebar-default .sidebar-nav li > a:focus i {
    color: #757575;
}
.sidebar-default .sidebar-nav > .open > a,
.sidebar-default .sidebar-nav > .open > a:hover,
.sidebar-default .sidebar-nav > .open > a:focus {
    color: #dbdbdb;
    background-color: #39305b;
;;
}
.sidebar-default .sidebar-nav > .disabled > a,
.sidebar-default .sidebar-nav > .disabled > a:hover,
.sidebar-default .sidebar-nav > .disabled > a:focus {
    color: #39305b;
;
    background-color: transparent;
}

.sidebar {
    width: 0;
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
}
.sidebar.open {
    min-width: 280px;
    width: 280px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.sidebar-fixed-left,
.sidebar-fixed-right{
    position: fixed;
    top: -30px;
    bottom: 0;
    z-index: 1035;
}

.sidebar-fixed-left {
    left: 0;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}
.sidebar-fixed-right {
    right: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
}
.sidebar-fixed-right.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.sidebar-fixed-right .icon-material-sidebar-arrow:before {
    content: "\e614";
}
@media (max-width: 768px) {
    .sidebar.open {
        min-width: 240px;
        width: 240px;
    }
    .sidebar .sidebar-header {
        height: 135px;
    }
    .sidebar .sidebar-image img {
        width: 44px;
        height: 44px;
    }
}

/*************************/
/******sidebar-end********/
/*************************/



/*=====  End of Small video style  ======*/


.username-video{
    padding: 0.35em;
}

/********************/
/***TEST*****3D******/
/********************/
.content-footer2{
    padding: 5px;
    position: relative;
    height: 66px;
    background: rgba(57, 48, 91, 0.8);
    border-radius: 0px 0px 25px 25px;
    border: 1px solid #39305b;

}
.content-footer2 p{
     margin: 2px 5px 2px 45px;
     color: white;
    line-height: 16px;
    font-size: 17px;
 }
.content-footer2 a{
    margin: 5px;
    color: white;
    font-size: 12px;
}
.content-footer2 i, .content-footer2 span{
    font-size: 12px;
}
.content-title2{
    background: none;
    font-family: sans-serif;
    background-color: rgba(255,255,255, .8);
    color: black;
    position: absolute;
    bottom: 50px;

}

.planet-block{
    margin-top: 75px;
    margin-bottom: 75px;
    height: 800px;
}
.img-text{
    position: absolute;
    font-size: 32px;
    transform: rotateY(20deg) rotateZ(8deg);
    color: white;
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.5);
    border-radius: 15px 0px 15px 0px;
    padding: 6px 18px;
}

.container1 {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1500px;
    top: 300px;
}

.carousel1{
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item1{
    display: block;
    position: absolute;
    width: 200px;
    height: 175px;
    line-height: 14px;
    font-size: 12px;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
    backface-visibility: hidden;
}


.top1 {  transform: rotateY(0deg)   rotateX(26deg) translateZ(380px);  top: -50px;  }
.top2 {  transform: rotateY(40deg)  rotateX(26deg) translateZ(380px);  top: -50px;  }
.top3 {  transform: rotateY(80deg)  rotateX(26deg) translateZ(380px);  top: -50px;  }
.top4 {  transform: rotateY(120deg) rotateX(26deg) translateZ(380px);  top: -50px;  }
.top5 {  transform: rotateY(160deg) rotateX(26deg) translateZ(380px);  top: -50px;  }
.top6 {  transform: rotateY(200deg) rotateX(26deg) translateZ(380px);  top: -50px;  }
.top7 {  transform: rotateY(240deg) rotateX(26deg) translateZ(380px);  top: -50px;  }
.top8 {  transform: rotateY(280deg) rotateX(26deg) translateZ(380px);  top: -50px;  }
.top9 {  transform: rotateY(320deg) rotateX(26deg) translateZ(380px);  top: -50px;  }

.center1  {  transform: rotateY(0deg)   translateZ(400px);   }
.center2  {  transform: rotateY(30deg)  translateZ(400px);   }
.center3  {  transform: rotateY(60deg)  translateZ(400px);   }
.center4  {  transform: rotateY(90deg)  translateZ(400px);   }
.center5  {  transform: rotateY(120deg) translateZ(400px);   }
.center6  {  transform: rotateY(150deg) translateZ(400px);   }
.center7  {  transform: rotateY(180deg) translateZ(400px);   }
.center8  {  transform: rotateY(210deg) translateZ(400px);   }
.center9  {  transform: rotateY(240deg) translateZ(400px);   }
.center10 {  transform: rotateY(270deg) translateZ(400px);   }
.center11 {  transform: rotateY(300deg) translateZ(400px);   }
.center12 {  transform: rotateY(330deg) translateZ(400px);   }

.img-earth{
    height: 780px;
    width: 780px;
    top: -295px;
    left: -290px;
    background: url("../img/planet.png") 100% 100%;
    background-size: cover;
    transform: rotate(305deg);

}
.bot1 {  transform: rotateY(0deg)   rotateX(-26deg) translateZ(380px);    bottom: -30px;  }
.bot2 {  transform: rotateY(40deg)  rotateX(-26deg) translateZ(380px);    bottom: -30px;  }
.bot3 {  transform: rotateY(80deg)  rotateX(-26deg) translateZ(380px);    bottom: -30px;  }
.bot4 {  transform: rotateY(120deg) rotateX(-26deg) translateZ(380px);    bottom: -30px;  }
.bot5 {  transform: rotateY(160deg) rotateX(-26deg) translateZ(380px);    bottom: -30px;  }
.bot6 {  transform: rotateY(200deg) rotateX(-26deg) translateZ(380px);    bottom: -30px;  }
.bot7 {  transform: rotateY(240deg) rotateX(-26deg) translateZ(380px);    bottom: -30px;  }
.bot8 {  transform: rotateY(280deg) rotateX(-26deg) translateZ(380px);    bottom: -30px;  }
.bot9 {  transform: rotateY(320deg) rotateX(-26deg) translateZ(380px);    bottom: -30px;  }


.next1, .prev1 {
    position: absolute;
    bottom: -205px;
    padding: 1.5em 1.5em;
    cursor: pointer;
    background:  #94F;;
    border-radius: 0px 0px 100px 0px;
    box-shadow: 2px 2px 15px 8px #94F;
    transition: box-shadow 0.1s, top 0.1s;
}
.next1:hover, .prev1:hover {
    box-shadow: 1px 1px 10px 6px #ff1702;
    background-color: #ff1702;
}

.next1:active, .prev1:active {
    box-shadow: 1px 1px 7px 4px #00ffff;
    background-color: #00ffff;;
}
 .next1 {
    right: -1em;
    transform: rotateZ(133deg);
}
.next1 i{
    position: absolute;
    top: 8px;
    left: 10px;
    transform: rotateZ(-133deg);
    color: white;

}
.prev1 {
    left: -1em;
    transform: rotateZ(-45deg);
}
.prev1 i{
    position: absolute;
    top: 8px;
    left: 10px;
    transform: rotateZ(45deg);
    color: white;
}
/********************/
/***TEST*****3D******/
/********************/
.prof-com{
    border: 2px solid white;
    margin: 5px;
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
}
