html {background-color: #99DFD5}

*{font-family: 'Droid Serif', serif;}

body {  height: 100%;  }

.wrap {  min-height: 100%;  height: auto;  margin: 0 auto -60px;  padding: 0 0 60px;  }

.wrap > .container {  padding: 70px 15px 20px;  }

.footer {  height: 60px;  background-color: #f5f5f5;  border-top: 1px solid #ddd;  padding-top: 20px;  }

.jumbotron {  text-align: center;  background-color: transparent;  }

.jumbotron .btn {  font-size: 21px;  padding: 14px 24px;  }

.not-set {  color: #c55;  font-style: italic;  }

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {  position: relative;  top: 1px;  display: inline-block;  font-family: 'Glyphicons Halflings';  font-style: normal;  font-weight: normal;  line-height: 1;  padding-left: 5px;  }

a.asc:after {  content: "\e151";  }

a.desc:after {  content: "\e152";  }

.sort-numerical a.asc:after {  content: "\e153";  }

.sort-numerical a.desc:after {  content: "\e154";  }

.sort-ordinal a.asc:after {  content: "\e155";  }

.sort-ordinal a.desc:after {  content: "\e156";  }

.grid-view td {  white-space: nowrap;  }

.grid-view .filters input,
.grid-view .filters select {  min-width: 50px;  }

.hint-block {  display: block;  margin-top: 5px;  color: #999;  }

.error-summary {  color: #a94442;  background: #fdf7f7;  border-left: 3px solid #eed3d7;  padding: 10px 20px;  margin: 0 0 15px 0;  }






/* align the logout "link" (button in form) of the navbar */

/*Other stiels*/
.padding-30{margin-top: 30px; padding: 15px}



.img1 {  float: none;  margin: 0 auto;  width: 50px;  height: 50px;  -webkit-border-radius: 50% !important;  -moz-border-radius: 50% !important;  border-radius: 50% !important;  }

.nopadding{padding: 0;}

.index-h2{padding-left: 25px;color: #21761d}

.bg-img-1{background-image: url("../img/img-bg-1 (2).jpg");
    background-size: 50% 100%;
    background-repeat: repeat-x;  }

.bg-img-2{background-image: url("../img/img-bg-2 (2).jpg");
    background-size: 50% 50%;
}
.bg-img-3{background-image: url("../img/img-bg-2 (2).jpg");
    background-size: 50% 20%;
}

.video-font{color: #f99500; font-size: 20px; font-weight: 800; text-decoration: none;

}
.video-font:hover {color: #f99500; }

.my-video-video{border: solid 1px #CCCCCC; border-radius: 45px  0px 45px 0px; padding: 5px;margin:10px;width: 20%;float: left;overflow: hidden;}

.profile-img{border: solid 1px #CCCCCC; border-radius: 45px  0px 45px 0px; padding: 5px;margin:10px;width:100%;overflow: hidden;}

.border-radius{border: solid 1px #CCCCCC; border-radius: 45px  0px 45px 0px; padding: 5px;}

.h-nav-music{
    font-size: 26px;
    color:#6d6d6d ;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -7px;

}
/*Colors*/

.color-1{background-color: #99DFD5}
.color-2{background-color: #6695C1}
.color-3{background-color: #46ABA5}
.background-gray{background-color: #F8F8F8}

/*Colors*/


/*Other stiels*/



/*navbar*/

/*navbar*/



/*sidebar index*/

/* Profile container */
.profile {  margin: 20px 0;  }

/* Profile sidebar */
.profile-sidebar {  padding: 20px 0 10px 0; }

.profile-userpic img {  float: none;  margin: 0 auto;  width: 60%;  height: 60%;  -webkit-border-radius: 50% !important;  -moz-border-radius: 50% !important;  border-radius: 50% !important;  }

.profile-usertitle {  text-align: center;  margin-top: 0px;  }

.profile-usertitle-name {  color: white;  font-size: 28px;  font-weight: 600;  margin-bottom: 7px;  }

.profile-usertitle-job {  text-transform: uppercase;  color: white;  font-size: 12px;  font-weight: 600;  margin-bottom: 15px; border-bottom: 1px solid black; margin-left: 20px; margin-right: 20px  }

.profile-userbuttons {  text-align: center;  margin-top: 10px;  }

.profile-userbuttons .btn {  text-transform: uppercase;  font-size: 11px;  font-weight: 600;  padding: 6px 15px;  margin-right: 5px;  }

.profile-userbuttons .btn:last-child {  margin-right: 0px;  }
/* Profile Content */

/*sidebar menu*/
.sidebar-menu {  padding-top: 30px; height: 100%;
     }

.sidebar-menu ul li {  border-bottom: 1px solid #f0f4f7;  }

.sidebar-menu ul li:last-child {  border-bottom: none;  }

.sidebar-menu ul li a {  color: #46ABA5; background-color: #96DCD4;  font-size: 14px;  font-weight: 400;  }

.sidebar-menu ul li a i {  margin-right: 8px;  font-size: 14px;  }

.sidebar-menu ul li a:hover {  background-color: #E4F2F3;  color: #46ABA5; border-left: 4px solid #6695C1;  margin-left: 4px;  }

.sidebar-menu ul li.active {  border-bottom: none;  }

.sidebar-menu ul li.active a {  background-color: #E4F2F3;  color: #46ABA5; border-left: 4px solid #6695C1;  margin-left: 0px;  }

/*sidebar menu*/


/*sidebar index*/


/*PROFILE!*/
/* Profile container */
.profile {  margin: 20px 0;  }

/* Profile sidebar */

.profile-usermenu {  margin-top: 20px;  }

.profile-usermenu ul li {  border-bottom: 1px solid #f0f4f7;  }

.profile-usermenu ul li:last-child {  border-bottom: none;  }

.profile-usermenu ul li a {  color: #46ABA5; background-color: #96DCD4;  font-size: 14px;  font-weight: 400;  }

.profile-usermenu ul li a i {  margin-right: 8px;  font-size: 14px;  }

.profile-usermenu ul li a:hover {  background-color: #E4F2F3;  color: #46ABA5; border-left: 4px solid #6695C1;  margin-left: 4px;  }

.profile-usermenu ul li.active {  border-bottom: none;  }

.profile-usermenu ul li.active a {   background-color: #E4F2F3;  color: #46ABA5; border-left: 4px solid #6695C1;  margin-left: 0px; }


/* Profile Content */

/*PROFILE*/

/*VIEW VIDEO*/

/*coments*/
.media-body .author {  display: inline-block;  font-size: 1rem;  color: #000;  font-weight: 700;
}
.media-body .metadata {  display: inline-block;  margin-left: .5rem;  color: #777;  font-size: .8125rem;
}
.footer-comment {  color: #777;
}
.vote.plus:hover {  color: green;
}
.vote.minus:hover {  color: red;
}
.vote {  cursor: pointer;
}
.comment-reply a {  color: #777;
}
.comment-reply a:hover, .comment-reply a:focus {  color: #000;  text-decoration: none;
}
.devide {  padding: 0px 4px;  font-size: 0.9em;
}
.media-text {  margin-bottom: 0.25rem;
}
.title-comments {  font-size: 1.4rem;  font-weight: bold;  line-height: 1.5rem;  color: rgba(0,0,0,.87);  margin-bottom: 1rem;  padding-bottom: .25rem;  border-bottom: 1px solid rgba(34,36,38,.15);
}
.media{padding: 10px}

.my-comments{border: solid 1px #CCCCCC; border-radius: 45px  45px  45px 45px; padding: 5px;margin-bottom:10px;width: 99%;float: left;overflow: hidden;background-color:
        #e7f7fc;}

/*coments*/

/*VIEW VIDEO*/


.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px;
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
    display:block;
    position:relative;
    background-color: #111;
    color: #fff;
    padding: 8px;
    border-radius:3px
    transition:all 500ms ease-in-out;
    border-radius:4px
}
.video-list-thumbs > li > a:hover{
    box-shadow:0 2px 5px rgba(0,0,0,.3);
    text-decoration:none
}
.video-list-thumbs h2{
    bottom: 0;
    font-size: 14px;
    height: 33px;
    margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
    color:#fff;
    opacity:1;
    text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    left: 12px;
    line-height: 13px;
    padding: 2px 3px 1px;
    position: absolute;
    top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration{
    background-color:#000;
}
@media (min-width:320px) and (max-width: 480px) { 
    .video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
    }
    .video-list-thumbs h2{
        bottom: 0;
        font-size: 12px;
        height: 22px;
        margin: 8px 0 0;
    }
}

/*<table>*/
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}
/*<table>*/

/*<login>*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}
/*<login>*/